/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --clr-side: #00a2ff;
    --clr-main: #e4f5ff;
    --clr-header: #f8f8f8;
}

.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--clr-side);
    display: grid;
    grid-template-rows: 1fr 9fr;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

.nav {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.nav ul,
.nav li {
    list-style: none;
}

.main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: var(--clr-header);
}

.main-content {
    background-color: var(--clr-main);
}